header {
    position: sticky;
    top: 0;
}

.text-container-2 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 3px #504343;
}

.text-container-5 {
    font-family: 'Inter', sans-serif;
}

.text-container-6 {
    font-family: 'Rubik', sans-serif;
}

.text-container-3 {
    font-family: 'PT Sans', sans-serif;
}

.text-container-4 {
    font-family: 'Open Sans', sans-serif;
}


.navitem {
    width: 10vw;
}

.navdes {
    width: inherit;
    height: 15px;
    background-color: rgb(66, 66, 66);
}

.hover:hover {
    .navdes {
        background-color: rgb(220, 229, 242);
    }
}

.hoveractive:hover {
    .navdesactive {
        background-color: rgb(21, 56, 228);
    }
}

.navdesactive {
    width: inherit;
    height: 15px;
    background-color: rgb(48, 123, 221);
}

.head {
    font-family: 'Noto Sans Display', sans-serif;
}

.textjustify {
    text-align: justify;
}

.imgresize {
    width: 35%;
    height: 35%;
    transform: translate(90%, 10%);
}

.line {
    height: 3px;
    background-color: gray;
}

.middle {
    margin: 18vh 0;
}

.main-bg {
    background-color: #007bff;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
}

.chat-body {
    height: 500px;
    overflow-y: scroll;
}

.toastpos {
    right: 0;
}